#GuideDocs{
    text-align:center;
    margin:10px auto;
    background-color: #ffca2c;
    color:black;
  }

  #GuideDocs a{
    margin:30px 20px;
    display:inline-block;
    text-decoration:none;
    color:black;
  }

  #resource{
    text-align:center;
    margin:10px auto;
    background-color: #4f061c;
    color:#fff;
  }
  

  #resource a{
    margin:30px 20px;
    display:inline-block;
    text-decoration:none;
    color:#fff;
  }

/* Style the button that is used to open and close the collapsible content */
  .collapsible {
    background-color:#4f061c;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

/* Background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
    color:black
  }

/* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }       
  
/*added for unit page cards background color and margins*/
#unitcardbg {
    background-color: #8b2942;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

                          
               

